<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="Listeners.MyListener"></listener>
    </listeners>
    <test thread-count="1" name="Test">
        <classes>
            <class name="Tests.GoogleSearchResultsTest"></class>
            <parameter name="browser" value="chrome"></parameter>
        </classes>
    </test>
</suite>